body {
	display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
}

#headline {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: red;
    background-color: black;
}
#logo {
    height: 55px;
    width: 115px;
    float: left;
    padding-right: 10px;
    margin-top: 10px
 
}

#screen {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 800px;
    background: url(https://slm-assets.secondlife.com/assets/21423963/original/gif___The_War_of_the_Elements_-_Apocalyptic_City_V1.gif?1535436431);
    background-size: cover;
    border-radius: 8%;
    cursor: url(https://image.flaticon.com/icons/png/128/3207/3207593.png) 30 30, auto;
    border: solid 2px yellow;
    margin: 5px auto;

}
.button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: middle;
    text-align: center;
    margin: 15px auto;
   
}

#row1,
#row2,
#row3
 {
    height: 133px;
    width: 800px;
}

#ammo,
#timer,
#score {
	font-family: 'Press Start 2P', cursive;
    color: yellow;
    background-color: red;
    border: solid 2px darkred;
    height: 30px;
    width: 120px;
    border-radius: 25px;
    font-size: 11.5px;
    padding-top: 12px;
  
}
#messageBoard,
#start,
#getAmmo {
    font-family: 'Press Start 2P', cursive;
    color: yellow;
    background-color: red;
    border: solid 2px darkred;
    border-radius: 20px;
    font-size: 11.5px;
}
#start,
#getAmmo {
    margin-top: 18px;
    height: 27px;
    width: 100px;
    padding-top: 12px;
}

#messageBoard {
    width: 390px;
    height: 65px;
    text-align: center;
    padding-block-start: 2px;
    font-size: 10px;
}
#restart {
    font-family: 'Press Start 2P', cursive;
    color: greenyellow;
    text-align: center;
    background-color: red;
    border: solid 2px darkred;
    height: 27px;
    width: 120px;
    border-radius: 90px;
    font-size: 9px;
    padding-top: 12px;
}

#zombie1,
#zombie2,
#zombie3
 {
    height: 75px;
    width: 75px;
    float: right;

}


