h1 {
    font-family: 'Press Start 2P', cursive;
    text-align: left;
    color: red;
    background-color: black;
    margin: 20px 0 39px 130px;
}
#logo {
    height: 75px;
    width: 95px;
    float: left;
    padding-right: 30px;
    margin-top: -18px
 
}
body {
	background-color: black;
    display: inline-flex;
}
#messageBoard {
    height: 50px;
    width: 800px;
    background: yellow;
    color: red;
    background-size: cover;
    border-radius: 25px;
    cursor: url() 67 67 auto;
    margin-bottom: 23px;
    margin-top: 25px;
    margin-left: 20px;
    border: solid red;
}


#screen {
    height: 400px;
    width: 800px;
    background: url(../images/apoc.jpeg);
    background-size: cover;
    border-radius: 10%;
    cursor: url(../images/curs.png) 17 17 auto;
    margin-bottom: 23px;
    margin-top: 25px;
    margin-left: 20px;
    border: solid red;
}
#row1,
#row2,
#row3,
#row4
 {
    height: 133px;
    width: 800px;
    /* display: block; */
}
#restart,
#start,
#getAmmo,
#ammo,
#timer,
#score {
	font-family: 'Press Start 2P', cursive;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(229, 255, 0);
    text-align: center;
    background-color: rgba(255, 13, 0, 0.514);
    border: solid 5px red;
    height: 95px;
    width: 125px;
    border-radius: 90%;
    margin: 5px 55px 15px 87px;
    font-size: 12px;
}



#cowboy {
    height: 50px;
    width: 35px;
    margin: 25px 0 25px 25px;
}

#zombie1,
#zombie2,
#zombie3 {

    height: 50px;
    width: 35px;
    float: right;
    margin: 25px 45px 25px 0;

}

#stats {
    width: 900px;
}

